# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\[G].Data Structure & Algorithm Courses\ALGORITHMS OF PRINCETON UNIVERSITY\Algorithms Part II\Xtra Credit_Advanced Concepts\Projects & Problem Solutions\Puzzle Codes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
